/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: radial-gradient(
    circle,
    rgb(214, 218, 238) 0%,
    rgb(231, 204, 209) 100%
  );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}
