<div class="about-us-container">
  <div class="about-us-wrapper postion-relative">
    <div class="about-us-banner bg-image">
      <div class="about-us-banner-text h-100">
        <h1 class="fs-1 text-white">
          {{ title }}
        </h1>
        <h2 class="fs-2 text-white text-uppercase">Experience the joy of cinema</h2>
      </div>
    </div>
  </div>

  <div class="description mt-4">
    <div class="mx-4">
      <h1 class="fs-2">About Us</h1>
      <div class="underline text-warning"></div>
    </div>
    <p class="text-muted text-start px-3 p-lg-4 p-md-3">
      It was not long ago that our ancestors have to stand in long queues just to get tickets to their favorite movies. You’ll also find that just on arriving at the counter after a tiring wait, they would be shown the sign “HOUSEFULL”.
But our generation is lucky enough that we could book movie tickets so effortlessly
    </p>
  </div>
</div>
